<ion-header>
  <ion-toolbar>
    <ion-title>
      Diet Tracking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-datetime  [(ngModel)]="myDate" class=time displayFormat="DD-MM-YYYY" placeholderdate="Today"></ion-datetime>

</ion-item>
  <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="breakfast" checked>
        <ion-label>Breakfast</ion-label>
      
      </ion-segment-button>
      <ion-segment-button value="lunch">
        <ion-label>Lunch</ion-label>
      
      </ion-segment-button>
      <ion-segment-button value="eveningmeal">
        <ion-label>Evening Meal</ion-label>
   
      </ion-segment-button>
      <ion-segment-button value="snack1">
        <ion-label>Snack 1</ion-label>
      
      </ion-segment-button>
      <ion-segment-button value="snack2">
        <ion-label>Snack 2</ion-label>
     
      </ion-segment-button>
      <ion-segment-button value="snack3">
        <ion-label>Snack 3</ion-label>

      </ion-segment-button>
      <ion-segment-button value="others">
        <ion-label>Others</ion-label>

      </ion-segment-button>
      
    </ion-segment>



 <div [hidden]="type !='breakfast'">





<ion-list>
  <form [formGroup]="mainForm" (ngSubmit)="storeData()">
  <ion-card *ngFor="let att of anArray; let i=index" >  
    <ion-item-sliding >
      <ion-item-options  side="end">
      <ion-button color = "danger" (click)="removeItem(i)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
    </ion-item-options>
      <ion-button class = "savebutton" type="submit" color="tertiary"  shape="block" expand="block">Save</ion-button>
      <ion-item  lines="none">
      <ion-label class="label"> {{att.food_name}}</ion-label>
      <ion-input  formControlName = "food_name" type="text" required class = "right" >{{att.food_name}}</ion-input>

    </ion-item>
  
    <ion-item lines="none">
      <ion-label class="label">Unit</ion-label>
      <ion-input  formControlName = "unit" type="text" required class = "left1" placeholder="Enter" ></ion-input>
      
      <ion-label class="unique">Qty</ion-label>
      <ion-input  formControlName = "qty"  type="text" required class = "right" placeholder="Enter"></ion-input>
     
    </ion-item>
    <ion-item lines="none" >
      
      <ion-label class="label">CHO</ion-label>
      <ion-input formControlName = "cho"  type="text" required class = "left2" placeholder="Enter"></ion-input>
      <ion-label class="label">Fat</ion-label>
      <ion-input formControlName = "fat" type="text" required class = "right" placeholder="Enter"></ion-input>
    </ion-item>
  </ion-item-sliding>

  </ion-card>
  
  
</form >

</ion-list>
<ion-button  (click)="Add()" size = "small" class = "center" color="primary">Add Card </ion-button>


<ion-list>
  <ion-item>
    <ion-label class = "label">Breakfast CHO Sum</ion-label>
    <ion-input  class = "right" placeholder={{sum1}} ></ion-input>
  </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label class = "label">Breakfast Fat Sum</ion-label>
      <ion-input   class = "right" placeholder={{sum2}} >  </ion-input>
    </ion-item>
    </ion-list>

      
<ion-list>
  <ion-item>
    <ion-label class = "label">Daily CHO Sum</ion-label>
    <ion-input  class = "right" placeholder="Enter" ></ion-input>
  </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label class = "label">Daily Fat Sum</ion-label>
      <ion-input  class = "right" placeholder="Enter" ></ion-input>
    </ion-item>
    </ion-list>

  </div>


  <ion-card>

    <ion-item lines="inset" *ngFor="let data of Data">
      <ion-label>

        <h5 >Date:{{myDate}}</h5>
        <h5>CHO:{{data.cho}}</h5>
        <h5>Fat:{{data.fat}}</h5>
      </ion-label>

      <div class="item-note" item-end>     
        <ion-icon name="trash" style="zoom:2.0" (click)="deleteFood(data.id)"></ion-icon>
      </div>
    </ion-item>
  </ion-card>  



  <div [hidden]="type !='lunch'">


    <ion-list>
      <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-card *ngFor="let att of anArray; let i=index" >  
        <ion-item-sliding >
          <ion-item-options  side="end">
          <ion-button color = "danger" (click)="removeItem(i)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
        </ion-item-options>
          <ion-button class = "savebutton" type="submit" color="tertiary"  shape="block" expand="block">Save</ion-button>
          <ion-item  lines="none">
          <ion-label class="label"> Food Name</ion-label>
          <ion-input  formControlName = "food_name" type="text" required class = "right" placeholder="Enter" ></ion-input>
        </ion-item>
      
        <ion-item lines="none">
          <ion-label class="label">Unit</ion-label>
          <ion-input  formControlName = "unit" type="text" required class = "left1" placeholder="Enter" ></ion-input>
          
          <ion-label class="unique">Qty</ion-label>
          <ion-input  formControlName = "qty"  type="text" required class = "right" placeholder="Enter"></ion-input>
         
        </ion-item>
        <ion-item lines="none" >
          
          <ion-label class="label">CHO</ion-label>
          <ion-input formControlName = "cho"  type="text" required class = "left2" placeholder="Enter"></ion-input>
          <ion-label class="label">Fat</ion-label>
          <ion-input formControlName = "fat" type="text" required class = "right" placeholder="Enter"></ion-input>
        </ion-item>
      </ion-item-sliding>
    
      </ion-card>
      
      
    </form >
    
    </ion-list>
    <ion-button  (click)="Add()" size = "small" class = "center" color="primary">Add Card </ion-button>
    
   
    <ion-list>
      <ion-item>
        <ion-label class = "label">Lunch CHO Sum</ion-label>
        <ion-input  class = "right" placeholder={{sum3}} ></ion-input>
      </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label class = "label">Lunch Fat Sum</ion-label>
          <ion-input  class = "right" placeholder={{sum4}} ></ion-input>
        </ion-item>
        </ion-list>

          
    <ion-list>
      <ion-item>
        <ion-label class = "label">Daily CHO Sum</ion-label>
        <ion-input  class = "right" placeholder="Enter" ></ion-input>
      </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label class = "label">Daily Fat Sum</ion-label>
          <ion-input  class = "right" placeholder="Enter" ></ion-input>
        </ion-item>
        </ion-list>
    
      </div>
    
    
      <div [hidden]="type !='eveningmeal'">


        <ion-list>
          <form [formGroup]="mainForm" (ngSubmit)="storeData()">
          <ion-card *ngFor="let att of anArray; let i=index" >  
            <ion-item-sliding >
              <ion-item-options  side="end">
              <ion-button color = "danger" (click)="removeItem(i)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
            </ion-item-options>
              <ion-button class = "savebutton" type="submit" color="tertiary"  shape="block" expand="block">Save</ion-button>
              <ion-item  lines="none">
              <ion-label class="label"> Food Name</ion-label>
              <ion-input  formControlName = "food_name" type="text" required class = "right" placeholder="Enter" ></ion-input>
            </ion-item>
          
            <ion-item lines="none">
              <ion-label class="label">Unit</ion-label>
              <ion-input  formControlName = "unit" type="text" required class = "left1" placeholder="Enter" ></ion-input>
              
              <ion-label class="unique">Qty</ion-label>
              <ion-input  formControlName = "qty"  type="text" required class = "right" placeholder="Enter"></ion-input>
             
            </ion-item>
            <ion-item lines="none" >
              
              <ion-label class="label">CHO</ion-label>
              <ion-input formControlName = "cho"  type="text" required class = "left2" placeholder="Enter"></ion-input>
              <ion-label class="label">Fat</ion-label>
              <ion-input formControlName = "fat" type="text" required class = "right" placeholder="Enter"></ion-input>
            </ion-item>
          </ion-item-sliding>
        
          </ion-card>
          
          
        </form >
        
        </ion-list>
        <ion-button  (click)="Add()" size = "small" class = "center" color="primary">Add Card </ion-button>
        
        <ion-list>
          <ion-item>
            <ion-label class = "label">Evening Meal CHO Sum</ion-label>
            <ion-input  class = "right" placeholder={{sum5}} ></ion-input>
          </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-label class = "label">Evening Meal Fat Sum</ion-label>
              <ion-input  class = "right" placeholder={{sum6}} ></ion-input>
            </ion-item>
            </ion-list>

              
        <ion-list>
          <ion-item>
            <ion-label class = "label">Daily CHO Sum</ion-label>
            <ion-input  class = "right" placeholder="Enter" ></ion-input>
          </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-label class = "label">Daily Fat Sum</ion-label>
              <ion-input  class = "right" placeholder="Enter" ></ion-input>
            </ion-item>
            </ion-list>
            
    
        
          </div>
        
          <div [hidden]="type !='snack1'">


            <ion-list>
              <form [formGroup]="mainForm" (ngSubmit)="storeData()">
              <ion-card *ngFor="let att of anArray; let i=index" >  
                <ion-item-sliding >
                  <ion-item-options  side="end">
                  <ion-button color = "danger" (click)="removeItem(i)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
                </ion-item-options>
                  <ion-button class = "savebutton" type="submit" color="tertiary"  shape="block" expand="block">Save</ion-button>
                  <ion-item  lines="none">
                  <ion-label class="label"> Food Name</ion-label>
                  <ion-input  formControlName = "food_name" type="text" required class = "right" placeholder="Enter" ></ion-input>
                </ion-item>
              
                <ion-item lines="none">
                  <ion-label class="label">Unit</ion-label>
                  <ion-input  formControlName = "unit" type="text" required class = "left1" placeholder="Enter" ></ion-input>
                  
                  <ion-label class="unique">Qty</ion-label>
                  <ion-input  formControlName = "qty"  type="text" required class = "right" placeholder="Enter"></ion-input>
                 
                </ion-item>
                <ion-item lines="none" >
                  
                  <ion-label class="label">CHO</ion-label>
                  <ion-input formControlName = "cho"  type="text" required class = "left2" placeholder="Enter"></ion-input>
                  <ion-label class="label">Fat</ion-label>
                  <ion-input formControlName = "fat" type="text" required class = "right" placeholder="Enter"></ion-input>
                </ion-item>
              </ion-item-sliding>
            
              </ion-card>
              
              
            </form >
            
            </ion-list>
            <ion-button  (click)="Add()" size = "small" class = "center" color="primary">Add Card </ion-button>
            
            <ion-list>
       
                <ion-item>
                  <ion-label class = "label">Snack 1 CHO Sum</ion-label>
                  <ion-input  class = "right" placeholder={{sum7}} ></ion-input>
                </ion-item>
                </ion-list>
      
         
    
              <ion-list>
                <ion-item>
                  <ion-label class = "label">Snack 1 Fat Sum</ion-label>
                  <ion-input  class = "right" placeholder={{sum8}} ></ion-input>
                </ion-item>
                </ion-list>
    
                  
            <ion-list>
              <ion-item>
                <ion-label class = "label">Daily CHO Sum</ion-label>
                <ion-input  class = "right" placeholder="Enter" ></ion-input>
              </ion-item>
              </ion-list>
    
              <ion-list>
                <ion-item>
                  <ion-label class = "label">Daily Fat Sum</ion-label>
                  <ion-input  class = "right" placeholder="Enter" ></ion-input>
                </ion-item>
              </ion-list>
              
              </div>
            
            
              <div [hidden]="type !='snack2'">


                <ion-list>
                  <form [formGroup]="mainForm" (ngSubmit)="storeData()">
                  <ion-card *ngFor="let att of anArray; let i=index" >  
                    <ion-item-sliding >
                      <ion-item-options  side="end">
                      <ion-button color = "danger" (click)="removeItem(i)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
                    </ion-item-options>
                      <ion-button class = "savebutton" type="submit" color="tertiary"  shape="block" expand="block">Save</ion-button>
                      <ion-item  lines="none">
                      <ion-label class="label"> Food Name</ion-label>
                      <ion-input  formControlName = "food_name" type="text" required class = "right" placeholder="Enter" ></ion-input>
                    </ion-item>
                  
                    <ion-item lines="none">
                      <ion-label class="label">Unit</ion-label>
                      <ion-input  formControlName = "unit" type="text" required class = "left1" placeholder="Enter" ></ion-input>
                      
                      <ion-label class="unique">Qty</ion-label>
                      <ion-input  formControlName = "qty"  type="text" required class = "right" placeholder="Enter"></ion-input>
                     
                    </ion-item>
                    <ion-item lines="none" >
                      
                      <ion-label class="label">CHO</ion-label>
                      <ion-input formControlName = "cho"  type="text" required class = "left2" placeholder="Enter"></ion-input>
                      <ion-label class="label">Fat</ion-label>
                      <ion-input formControlName = "fat" type="text" required class = "right" placeholder="Enter"></ion-input>
                    </ion-item>
                  </ion-item-sliding>
                
                  </ion-card>
                  
                  
                </form >
                
                </ion-list>
                <ion-button  (click)="Add()" size = "small" class = "center" color="primary">Add Card </ion-button>
                
                <ion-list>
                  <ion-item>
                    <ion-label class = "label">Snack 2 CHO Sum</ion-label>
                    <ion-input  class = "right" placeholder={{sum9}} ></ion-input>
                  </ion-item>
                  </ion-list>
        
           
      
                <ion-list>
                  <ion-item>
                    <ion-label class = "label">Snack 2 Fat Sum</ion-label>
                    <ion-input  class = "right" placeholder={{sum10}} ></ion-input>
                  </ion-item>
                  </ion-list>
      
                    
              <ion-list>
                <ion-item>
                  <ion-label class = "label">Daily CHO Sum</ion-label>
                  <ion-input  class = "right" placeholder="Enter" ></ion-input>
                </ion-item>
                </ion-list>
      
                <ion-list>
                  <ion-item>
                    <ion-label class = "label">Daily Fat Sum</ion-label>
                    <ion-input  class = "right" placeholder="Enter" ></ion-input>
                  </ion-item>
                </ion-list>
        
                  </div>
                
                  <div [hidden]="type !='snack3'">


                    <ion-list>
                      <form [formGroup]="mainForm" (ngSubmit)="storeData()">
                      <ion-card *ngFor="let att of anArray; let i=index" >  
                        <ion-item-sliding >
                          <ion-item-options  side="end">
                          <ion-button color = "danger" (click)="removeItem(i)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
                        </ion-item-options>
                          <ion-button class = "savebutton" type="submit" color="tertiary"  shape="block" expand="block">Save</ion-button>
                          <ion-item  lines="none">
                          <ion-label class="label"> Food Name</ion-label>
                          <ion-input  formControlName = "food_name" type="text" required class = "right" placeholder="Enter" ></ion-input>
                        </ion-item>
                      
                        <ion-item lines="none">
                          <ion-label class="label">Unit</ion-label>
                          <ion-input  formControlName = "unit" type="text" required class = "left1" placeholder="Enter" ></ion-input>
                          
                          <ion-label class="unique">Qty</ion-label>
                          <ion-input  formControlName = "qty"  type="text" required class = "right" placeholder="Enter"></ion-input>
                         
                        </ion-item>
                        <ion-item lines="none" >
                          
                          <ion-label class="label">CHO</ion-label>
                          <ion-input formControlName = "cho"  type="text" required class = "left2" placeholder="Enter"></ion-input>
                          <ion-label class="label">Fat</ion-label>
                          <ion-input formControlName = "fat" type="text" required class = "right" placeholder="Enter"></ion-input>
                        </ion-item>
                      </ion-item-sliding>
                    
                      </ion-card>
                      
                      
                    </form >
                    
                    </ion-list>
                    <ion-button  (click)="Add()" size = "small" class = "center" color="primary">Add Card </ion-button>
                    
                    <ion-list>
                      <ion-item>
                        <ion-label class = "label">Snack 3 CHO Sum</ion-label>
                        <ion-input  class = "right" placeholder={{sum11}} ></ion-input>
                      </ion-item>
                      </ion-list>
            
               
          
                    <ion-list>
                      <ion-item>
                        <ion-label class = "label">Snack 3 Fat Sum</ion-label>
                        <ion-input  class = "right" placeholder={{sum12}} ></ion-input>
                      </ion-item>
                      </ion-list>
          
                        
                  <ion-list>
                    <ion-item>
                      <ion-label class = "label">Daily CHO Sum</ion-label>
                      <ion-input  class = "right" placeholder="Enter" ></ion-input>
                    </ion-item>
                    </ion-list>
          
                    <ion-list>
                      <ion-item>
                        <ion-label class = "label">Daily Fat Sum</ion-label>
                        <ion-input  class = "right" placeholder="Enter" ></ion-input>
                      </ion-item>
                    </ion-list>
              
            
                    
                      </div>
                    

                      <div [hidden]="type !='others'">


                        <ion-list>
                          <form [formGroup]="mainForm" (ngSubmit)="storeData()">
                          <ion-card *ngFor="let att of anArray; let i=index" >  
                            <ion-item-sliding >
                              <ion-item-options  side="end">
                              <ion-button color = "danger" (click)="removeItem(i)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
                            </ion-item-options>
                              <ion-button class = "savebutton" type="submit" color="tertiary"  shape="block" expand="block">Save</ion-button>
                              <ion-item  lines="none">
                              <ion-label class="label"> Food Name</ion-label>
                              <ion-input  formControlName = "food_name" type="text" required class = "right" placeholder="Enter" ></ion-input>
                            </ion-item>
                          
                            <ion-item lines="none">
                              <ion-label class="label">Unit</ion-label>
                              <ion-input  formControlName = "unit" type="text" required class = "left1" placeholder="Enter" ></ion-input>
                              
                              <ion-label class="unique">Qty</ion-label>
                              <ion-input  formControlName = "qty"  type="text" required class = "right" placeholder="Enter"></ion-input>
                             
                            </ion-item>
                            <ion-item lines="none" >
                              
                              <ion-label class="label">CHO</ion-label>
                              <ion-input formControlName = "cho"  type="text" required class = "left2" placeholder="Enter"></ion-input>
                              <ion-label class="label">Fat</ion-label>
                              <ion-input formControlName = "fat" type="text" required class = "right" placeholder="Enter"></ion-input>
                            </ion-item>
                          </ion-item-sliding>
                        
                          </ion-card>
                          
                          
                        </form >
                        
                        </ion-list>
                        <ion-button  (click)="Add()" size = "small" class = "center" color="primary">Add Card </ion-button>
                        
                        <ion-list>
                          <ion-item>
                            <ion-label class = "label">Others CHO Sum</ion-label>
                            <ion-input  class = "right" placeholder={{sum13}} ></ion-input>
                          </ion-item>
                          </ion-list>
                
                   
              
                        <ion-list>
                          <ion-item>
                            <ion-label class = "label">Others Fat Sum</ion-label>
                            <ion-input  class = "right" placeholder={{sum14}} ></ion-input>
                          </ion-item>
                          </ion-list>
              
                            
                      <ion-list>
                        <ion-item>
                          <ion-label class = "label">Daily CHO Sum</ion-label>
                          <ion-input  class = "right" placeholder="Enter" ></ion-input>
                        </ion-item>
                        </ion-list>
              
                        <ion-list>
                          <ion-item>
                            <ion-label class = "label">Daily Fat Sum</ion-label>
                            <ion-input  class = "right" placeholder="Enter" ></ion-input>
                          </ion-item>
                        </ion-list>
                
                        
                          </div>
                        
                        
                    


</ion-content>


